<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="epick_driver_ros2_control"
               params="name use_fake_hardware:=true
                       usb_port:=/dev/ttyUSB0
                       baud_rate:=115200
                       timeout:=0.2
                       slave_address:=0x9
                       mode:=AdvancedMode
                       grip_max_vacuum_pressure:=-60
                       grip_min_vacuum_pressure:=-10
                       grip_timeout:=25.0
                       release_timeout:=2.0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>epick_driver/EpickGripperHardwareInterface</plugin>

       <!-- Serial connection parameters ////////////////////////////////// -->

        <param name="usb_port">${usb_port}</param>
        <param name="baud_rate">${baud_rate}</param>
        <param name="timeout">${timeout}</param>

        <!-- Gripper parameters /////////////////////////////////////////// -->

        <!-- Set use_dummy to true to connect to a dummy driver for testing purposes. -->
        <param name="use_dummy">${use_fake_hardware}</param>

        <!-- The address of the gripper. -->
        <param name="slave_address">${slave_address}</param>

        <!-- The gripper operation mode: AutomaticMode or AdvancedMode. -->
        <param name="mode">${mode}</param>

        <!-- The following parameters are only required for the AdvancedMode. -->
        <param name="grip_max_vacuum_pressure">${grip_max_vacuum_pressure}</param>
        <param name="grip_min_vacuum_pressure">${grip_min_vacuum_pressure}</param>
        <param name="grip_timeout">${grip_timeout}</param>
        <param name="release_timeout">${release_timeout}</param>

      </hardware>

      <gpio name="gripper">
        <!--
          Command interface to control the gripper:
          1.0 = grip
          0.0 = release
        -->
        <command_interface name="grip_cmd"/>

        <!--
          State interface that follows the value of the gripper/grip_cmd
          command interface:
          1.0 = successful grip
          0.0 = successful release
        -->
        <state_interface name="grip_cmd"/>

        <!--
          Return the object detection status:
          0.0 = unknown
          1.0 = object detected at minimum pressure
          2.0 = object detected at maximum pressure
          3.0 = no object detected
        -->
        <state_interface name="object_detection_status"/>
      </gpio>

      <!--
        This is optional configuration if you want to publish the state of the
        gripper as a joint state interface.
      -->
      <joint name="gripper">
        <!--
          State interface that follows the value of the gripper/grip_cmd
          command interface:
          1.0 = successful grip
          0.0 = successful release
        -->
        <state_interface name="position"/>
      </joint>

    </ros2_control>

  </xacro:macro>
</robot>
